
/* MOBILE FIRST */

/* GENERAL SETTINGS */

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

main {
    margin: auto 1em auto 1em;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin: 0 0 0 0;
}

footer {
    background-color: rgb(44, 65, 136);
    height: 5em;
    width:100%;
    margin-top: 1em;
    margin-bottom: 0;
}

/* HEADER */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0.5em;
}
    
.navbar img{
    height: 6em;
}

.navbar .menu {
    display: none
}

.navbar .menu .link {
    margin: 0px 10px
}

.link {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 1em; 
    color: black;  
    justify-content: end;
}

nav ul { list-style-type: none; }

.container {
    background: url("/images/banner-michael.jpeg") top center/cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 6em;
    padding-bottom: 2em;
    background-repeat: no-repeat;
    background-size: 40em;
}
    
.container h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: whitesmoke;
    text-shadow: 2px 2px #141414;
    text-align: center
}

/* MAIN */

/* skills */

.skill {
    border: 1px solid rgb(61, 61, 61);
    border-radius: 10px;
    margin: 1em 0 1em 0;
    height: 1em;
}

.skill_animation {
    height: 1em;
    border-radius: 8px;
    background-color: rgb(234, 234, 16);
}

#skill_hockey {
    animation: hockey_bar 5s infinite;
}

@keyframes hockey_bar {
    0% { width: 0; }
    100% { width: 90%; }
}

#skill_parkour {
    animation: parkour_bar 5s infinite;
}

@keyframes parkour_bar {
    0% { width: 0; }
    100% { width: 50%; }
}

#skill_basket {
    animation: basket_bar 5s infinite;
}

@keyframes basket_bar {
    0% { width: 0; }
    100% { width: 20%; }
}

#skill_song {
    animation: song_bar 5s infinite;
}

@keyframes song_bar {
    0% { width: 0; }
    100% { width: 70%; }
}

/* form */

form > p {
    font-weight: 600;
}

form input:not([type="radio"]) {
    border-radius: 10px;
    border: 1px solid rgb(155, 155, 155);
    padding: 0.5em;
    margin: 1em auto 1em auto;
    box-sizing: border-box;
    font-size: 18px;
}

.form_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form_container > span {
    display: flex;
    flex-direction: column;
}

.form_container > span > label {
    display: block;
}

form > div {
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin: 1em auto;
}

form input[type="submit"] {
    background-color: rgb(218, 75, 75);
    font-size: 1.2em;
    border: none;
}

form > #message {
    width: 100%;
    max-width: 100%;
    min-height: 5em;
    max-height: 15em;
    margin: 1em auto 1em auto;
    border-radius: 10px;
    border: 1px solid rgb(156, 156, 156);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 0.5em;
    box-sizing: border-box;
}

form > label[for="write_to_me"]{
    display: block;
    margin-top: 2em;
    font-weight: 900;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3em;
}

.png {
    width: 3em;
}

/* RESPONSIVE SETTINGS */

@media screen and (min-width: 768px) {
    .navbar .menu {
        display: flex
    }   
}

@media screen and (min-width: 768px) {
    .navbar .menu .link:hover {
        transition: color 0.3s linear;
    }
    .navbar .menu .link:hover {
        color: rgb(200, 200, 200);
    }
}
